# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: PowerShell@2
    inputs:
      targetType: "filePath"
      filePath: "Terragrunt-Plan-Reader/terragrunt-plan-reader.ps1"
      arguments: "tg1.txt" 
      workingDirectory: "Terragrunt-Plan-Reader"
